{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <title>معرفی نامزدهای انتخابات یازدهمین دوره مجلس شورای اسلامی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
</head>

<body>
<div class="desc-title">
        <span>
            <p class="textnav">انتخاب آگاهانه</p>
            <p class="textnav">حفظ زیبایی</p>
            <p class="textnav">تبلیغات ماندگار</p>
        </span>
    <span class="slugan">معرفی نامزدهای انتخابات یازدهمین دوره مجلس شورای اسلامی</span>

</div>
<!-- Nav -->

<nav class="navbar navbar-expand-lg navigationbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                  d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">مشاهده نامزدها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">تماس با ما</a>
            </li>

        </ul>
    </div>
    <div>
        <form class="form-inline" method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0 Searchbutton" type="submit">جستجو</button>
        </form>
    </div>
</nav>
<!-- /nav -->
<div class="filters">
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3 ">
                <label for="">استان</label>
                <select name="province" id="inputProvince" class="form-control" onclick="getCities(this.value)">
                    {% if all_provinces %}
                        <option value="none">استان</option>
                        {% for p in all_provinces %}
                            {% if p.name == selected_province.name %}
                                <option selected value="{{ p.pk }}">{{ p.name }}</option>
                            {% else %}
                                <option value="{{ p.pk }}">{{ p.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for=""> حوزه </label>
                <select name="zone" id="inputState" class="form-control">
                    <option value="none" selected="">حوزه انتخاباتی</option>
                    {% ifnotequal selected_zone.pk None %}
                        <option selected value="{{ selected_zone.pk }}">{{ selected_zone.name }}</option>
                    {% endifnotequal %}
                </select>
            </div>
            <div class="col-md-4 searchbtn">
                <button type="submit" class="btn btn-success">اعمال فیلترها</button>
            </div>
        </div>
    </form>


</div>
<div class="page-container">
    <div class="alert-danger error-msg">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="alert {{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="griding-div">
        <div class="left-sidebar">
            {% for ga in global_ads %}
                {% if not ga.candidate %}
                    <img class="side-posters" src="{{ MEDIA_URL }}{{ ga.banner }}" alt="banner{{ forloop.counter }}">
                {% else %}
                    <a href="{% url 'resume' ga.candidate.pk %}"><img class="side-posters"
                                                                      src="{{ MEDIA_URL }}{{ ga.banner }}"
                                                                      alt="banner{{ forloop.counter }}"></a>
                {% endif %}
            {% endfor %}

        </div>
        <div class="row candidates">
            <!-- Candidates -->
            {% if page_obj %} {% for cn in page_obj %}
                <div class="col-md-4">
                    <figure class="user-card green">
                        <figcaption>
                            <img src="{{ MEDIA_URL }}{{ cn.profile_picture_url }}" alt="تصویر نمایه" class="profile">
                            <h5 class="CadidateName"> {{ cn.full_name }} </h5>
                            <h6 class="CandidateCity"> {{ cn.city.name }}</h6>
                            {% if cn.code %}
                                <span class="badge">کد نامزد : {{ cn.code }}</span> {% endif %} {% if cn.father_name %}
                            <span class="badge">فرزند : {{ cn.father_name }}</span> {% endif %} {% if cn.nickname %}
                            <span class="badge">مشهور به : {{ cn.nickname }}</span> {% endif %}
                            <li class="morebtn">
                                <a class="btn btn-success {% ifequal cn.resume_set.count 0 %} disabled {% endifequal %}"
                                   href="{% url 'resume' cn.pk %}">مشاهده ی رزومه</a>
                            </li>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %} {% endif %}

        </div>
        <div class="right-sidebar">
            {% for ga in global_ads %}
                {% if not ga.candidate %}
                    <img class="side-posters" src="{{ MEDIA_URL }}{{ ga.banner }}" alt="banner{{ forloop.counter }}">
                {% else %}
                    <a href="{% url 'resume' ga.candidate.pk %}"><img class="side-posters"
                                                                      src="{{ MEDIA_URL }}{{ ga.banner }}"
                                                                      alt="banner{{ forloop.counter }}"></a>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="downpage-Pagination">
        <nav>
            {% if page_obj.has_previous %}
                <form id="first" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="province" value="{{ selected_province.pk }}"/>
                    <input type="hidden" name="zone" value="{{ selected_zone.pk }}"/>
                    <a href="#" class="page-item" onclick="firstPage()">نخست</a>
                </form>
                <form id="pre" method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}"/>
                <input type="hidden" name="province" value="{{ selected_province.pk }}"/>
                <input type="hidden" name="zone" value="{{ selected_zone.pk }}"/>
                <div class="tooltip">
                <a href="#" onclick="prevPage()">&#8674;</a> {% endif %}
            <span class="tooltiptext">صفحه قبل</span>
            </div>

            </form>

            <span class="current">
         صفحه {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
    </span> {% if page_obj.has_next %}
            <form id="next" method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <input type="hidden" name="page" value="{{ page_obj.next_page_number }}"/>
                <input type="hidden" name="province" value="{{ selected_province.pk }}"/>
                <input type="hidden" name="zone" value="{{ selected_zone.pk }}"/>
                <div class="tooltip">
                    <a href="#" class="page-item" onclick="nextPage()">&#8672;</a>
                    <span class="tooltiptext">صفحه بعد</span>
                </div>

            </form>
            <form id="last" method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <input type="hidden" name="page" value="{{ page_obj.paginator.num_pages }}"/>
            <input type="hidden" name="province" value="{{ selected_province.pk }}"/>
            <input type="hidden" name="zone" value="{{ selected_zone.pk }}"/>
            <a href="#" onclick="lastPage()">آخرین</a> {% endif %}
            </form>
        </nav>
    </div>
</div>
<script>
    function firstPage() {
        document.getElementById("first").submit();
    }

    function prevPage() {
        document.getElementById("pre").submit();
    }

    function nextPage() {
        document.getElementById("next").submit();
    }

    function lastPage() {
        document.getElementById("last").submit();
    }

    function removeOptions(selectbox) {
        var i;
        for (i = selectbox.options.length - 1; i >= 0; i--) {
            selectbox.remove(i);
        }
    }

    function getCities(pk) {
        var xhttp;
        var is = document.getElementById("inputState");
        if (pk == "none" || pk == "") {
            removeOptions(is);
            var option = document.createElement("option");
            option.text = "ابتدا استان را انتخاب کنید";
            option.value = "none";
            is.add(option);
        } else {
            xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/get_cities?province_id=" + pk, true);
            xhttp.send();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var city = JSON.parse(this.response);
                    var city_json = JSON.parse(city["city_json"]);
                    removeOptions(is);
                    for (var i = 0; i < city_json.length; i++) {
                        var option = document.createElement("option");
                        option.text = city_json[i].fields["name"];
                        option.value = city_json[i].pk;
                        is.add(option);
                    }
                }
            };

        }

    }
</script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
</script>
<footer>
    <div class="alert alert-dark" role="alert">
        .کلیه حقوق مادی و معنوی این سایت متعلق به شرکت ایده پردازان رایان نیرو می باشد
    </div>
</footer>
</body>

</html>